<footer>
  <div class="container footer-page">
    <div class="company-information">
      <div class="about">
        <h4>SOBRE NÓS</h4>

        <ul>
          <li><a href="#">CONHEÇA</a></li>
          <li><a href="#">COMO COMPRAR</a></li>
          <li><a href="#">INDICAÇÃO E DESCONTO</a></li>
        </ul>

        <div class="social-media">
          <a href="#">
            <img src="../../../assets/facebook.svg" alt="Facebook logo image">
          </a>
          <a href="#">
            <img src="../../../assets/instagram.svg" alt="Instagram logo image">
          </a>
          <a href="#">
            <img src="../../../assets/youtube.svg" alt="Youtube logo image">
          </a>
        </div>
      </div>

      <div>
        <h4>INFORMAÇÕES ÚTEIS</h4>

        <ul>
          <li><a href="#">FALE CONOSCO</a></li>
          <li><a href="#">DÚVIDAS</a></li>
          <li><a href="#">PRAZO DE ENTREGA</a></li>
          <li><a href="#">FORMAS DE PAGAMENTO</a></li>
          <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
          <li><a href="#">TROCAS E DEVOLUÇÕES</a></li>
        </ul>
      </div>

      <div>
        <h4>FORMAS DE PAGAMENTO</h4>

        <div class="payment">
          <img src="../../../assets/visa.svg" alt="">
          <img src="../../../assets/elo.svg" alt="">
          <img src="../../../assets/alelo.svg" alt="">
          <img src="../../../assets/dinners.svg" alt="">
          <img src="../../../assets/ifood.svg" alt="">
          <img src="../../../assets/mastercard.svg" alt="">
          <img src="../../../assets/pix.svg" alt="">
          <img src="../../../assets/amex.svg" alt="">
          <img src="../../../assets/ticket.svg" alt="">
          <img src="../../../assets/sodexo.svg" alt="">
        </div>
      </div>
    </div>

    <div class="register">
      <div class="register-container">
        <p class="register-promotion">CADASTRE-SE E RECEBA NOSSAS <b>NOVIDADES E PROMOÇÕES</b></p>

        <p class="registe-description">Excepteur sint occaecat cudatat non ent, sunt in culpa qui officia lorem ipsum</p>

        <form>
          <div class="email">
            <input type="text" placeholder="SEU E-MAIL">
          </div>

          <button>OK</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <div class="container rights">
    <p>
      Copyright © 2019. Todos os direitos reservados. Todas as marcas e suas
      imagens são de propriedade de seus respectivos donos. É vedada a reprodução,
      total ou parcial, de qualquer conteúdo sem expressa autorização.
    </p>

    <div>
      <img src="../../../assets/econverse.svg" alt="">
      <img src="../../../assets/vtex.svg" alt="">
    </div>
  </div>
</footer>
