.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  text-align: center;
}

.container-product div{
  border: 1px solid #F4F4F4;
  border-radius: 0.625rem;
  box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;

  padding: 2.0625rem;
  background-color: #F4F4F4;
  cursor: pointer;
}

.container-product p{
  margin-top: 22px;
}

.container-product.active {
  color: red;
}

.container-product.active div{
  background-color: #FFF;
}

@media (max-width: 992px) {
  .product {
    justify-content: center;
    gap: 30px
  }
}


