.info .container-info{
  display: flex;
  justify-content: space-around;
}

.info .container-info div{
  display: flex;
  gap: 10px;
  margin: 6px 0;
}

.info b{
  color: red;
}

.container-info{
  border-bottom: 1px solid #F0F0F0;
}


@media (max-width: 768px) {
  .info div{
    display: block;
  }

  .info div div{
    display: flex;
    justify-content: center;
  }

  .info div div:nth-child(2), .info div div:nth-child(3){
    margin-top: 10px;
  }
}
