<header class="container info">
  <div class="container-info">
    <div>
      <img src="../../../assets/ShieldCheck.svg" alt="Image ShieldCheck">
      <p>Compra <b>100% seguro</b></p>
    </div>

    <div>
      <img src="../../../assets/Truck.svg" alt="Image Truck">
      <p><b>Frete grátis</b> acima de R$ 200</p>
    </div>

    <div>
      <img src="../../../assets/CreditCard.svg" alt="Image CreditCard">
      <p><b>Parcelas</b> suas compras</p>
    </div>
  </div>

  <div class="container-main">
    <img src="../../../assets/Logo.svg" alt="Image of the VTEX Company Logo">

    <form>
      <label for="pensamento"></label>
      <div>
        <div class="search">
          <input
            type="text"
            class="input"
            id="pensamento"
            name="pensamento"
            placeholder="O que você está buscando?"
          >
          <img src="../../../assets/MagnifyingGlass.svg" alt="Image MagnifyingGlass">
        </div>
      </div>
    </form>

    <nav>
      <ul>
        <li><a href="/"><img src="../../../assets/Enviados.svg" alt="Image Sent"></a></li>
        <li><a href="/"><img src="../../../assets/Heart.svg" alt="Image Heart"></a></li>
        <li><a href="/"><img src="../../../assets/UserCircle.svg" alt="Image UserCircle"></a></li>
        <li><a href="/"><img src="../../../assets/CreditCard.svg" alt="Image CreditCard"></a></li>
      </ul>
    </nav>
  </div>

  <div class="header-footer">
    <nav>
      <ul>
        <li><a href="/"><strong>TODAS CATEGORIAS</strong></a></li>
        <li><a href="/"><strong>SUPERMERCADO</strong></a></li>
        <li><a href="/"><strong>LIVROS</strong></a></li>
        <li><a href="/"><strong>LANÇAMENTOS</strong></a></li>
        <li><a href="/"><b>OFERTAS DO DIA</b></a></li>
        <li>
          <a href="/">
            <img src="../../../assets/CrownSimple.svg" alt="Image CrownSimple">
            <strong>ASSINATURA</strong>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

